<!DOCTYPE html>
<html>
<head>
  <title>Blogs</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Blogs</h1>
  <% if (blogs.length > 0) { %>
    <table class="blog-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% blogs.forEach(blog => { %>
          <tr>
            <td><%= blog.title %></td>
            <td><%= blog.content %></td>
            <td>
              <a href="/edit/<%= blog.id %>">Edit</a> |
              <!-- <a href="/blog/<%= blog.id %>">View</a> -->
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>No blogs available.</p>
  <% } %>
  <a href="/add" class="add-btn">Add new blog</a>
</body>
</html>
